[project]
	description = \"aiml_fw_apm_monitoring_server\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/o-ran-sc-gerrit-aiml-fw-apm-monitoring-server-committers
	read = group GitHub Replication

[submit-requirement "Code-Review"]
submittableIf = is:true
applicableIf = is:true
[submit-requirement "Verified"]
submittableIf = is:true
applicableIf = is:true
